bin/
obj/

*.user
*.suo
*.userosscache
*.sln.docstates

.vs/

.idea/

.vscode/

*.log

.DS_Store
Thumbs.db

*.nupkg
*.snupkg
packages/
*.nuspec

project.lock.json
project.fragment.lock.json
artifacts/
*.user.props

publish/
**/Properties/PublishProfiles/

_ReSharper*/
*.DotSettings.user

TestResults/
coverage*/
*.coverage
*.coveragexml

appsettings.Development.json
secrets.json
*.pfx
*.p12

wwwroot/_framework/